/* @import "./styles-produtos.css"; */
@import "./menu-hamburguer.css";

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 0 25px;
}

.box-header {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

footer {
  text-align: center;
  background: url("../assets/bg.jpg");
  padding: 40px 0px;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}

/* css da página home */
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0px 20px 20px 0px;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
  display: flex;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "★";
}

.imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 1em auto;
}

/* Seção de responsividade page home(index.html) */

@media screen and (max-width: 480px) {
  .box-header,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  .mapa-conteudo {
    padding: 1rem;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .banner {
    padding-bottom: 0.5rem;
  }

  .principal {
    padding: 1.5rem;
  }

  .mapa {
    padding: 2rem 0rem;
  }

  .beneficios {
    padding: 2rem 0rem;
  }

  .conteudo-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lista-beneficios {
    width: auto;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  .imagem-beneficios {
    width: 90%;
  }

  .video {
    padding: 1rem;
  }
}
