form {
  margin: 40px 0px 0px 25%;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0px;
}

.enviar {
  width: 40%;
  padding: 15px 0px;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s all;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 20px 0px 40px 25%;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

@media (max-width: 480px) {
  .input-padrao {
    border-radius: 5px;
  }

  .enviar {
    width: 70%;
  }

  form legend {
    margin: 1rem 0rem;
  }
}
